/* GENERAL DEFINITIONS BEGIN */
/*
definition of Releway Font:
used kit generation of font squirrel site
*/
@font-face {
  font-family: "RalewayRegular";
  src: url("fonts/raleway.eot");
  src: url("fonts/raleway.woff") format("woff"),
    url("fonts/Raleway-VariableFont_wght.ttf") format("truetype"),
    url("fonts/raleway.svg#Raleway") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* 
properties of body : 
font and backgound color to white
definition of max-width for large screens*/
body {
  font-family: "RalewayRegular", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #ffffff;
  max-width: 1440px;
}

/* 
entire page:  
Left and right margin to fit the model
*/
#entirepage {
  margin: auto;
  /* margin-left: 50px;
  margin-right: 50px;
*/
  max-width: 1340px;
}

/*GENRAL DEFINITIONS END*/

/* HEADER BEGIN */
/* 
header params : what so called menu is in fact 
the entire content of the header: 
logo + nav menu + incription nav
placement of elements : flex aligned for 
primary direction to space-betwwen
implicit declaration of flow-direction to row
secondary direction to center
*/
.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

/*
header(menu) elements weight in flex units
1 basis unit for logo 
 */
.logo {
  flex: 1;
}
/* 
inscription nav:
align text to the rigth
use specifieied color
flex unit width to 1
*/
.inscription {
  /* text-align: right; */
  color: #0065fc;
  flex: 1;
}

/*navigation menu area
flex width unit to 10 for large screens*/
.nav {
  flex: 10;
}

/*
use of flex for menu pagination
cancel style
content goes to the flex end of box
no margin to insure border effect on top of page
padding top and bottom of 50px as the specification  
*/
.nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0px;
  padding: 50px 0px 50px 0px;
}

/*
add margin to fit specification regarding 
grid spacing beetween navigation elements
*/
.nav li {
  margin-right: 25px;
}

/*
navigation: 
remove decoration
padding for good placement of border
indicating the mouse hover
*/
.nav a {
  text-decoration: none;
  padding: 47px 20px 0px 20px;
}

/*
color for hover action
add a top border when hover
*/
.nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

/* HEADER END */

/* MAIN BEGIN */
/*
Title, sub-title, town selection and style choice disposed 
in column using flex, items aligned left 
*/
#filtrage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
}

/*
town selection : localisation icon + input + search button
display using flex in row, aligned center
*/
#choixville {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*input font + */
#choixville #inputville {
  font-family: "RalewayRegular", sans-serif;
}

/* icon localisation aspect*/
#choixville #iconchoix {
  padding: 20px 25px 20px 20px;
  background-color: #f2f2f2;
  border-radius: 20px 0px 0px 20px;
}

/* search button aspect*/
#choixville #labelfield {
  padding: 20px;
  font-size: 16px;
  font-weight: bolder;
  background-color: #0065fc;
  border-radius: 0px 20px 20px 0px;
  color: white;
  /* margin: 0px; */
}

/*mobile search button aspect and visibility*/
#choixville .fa {
  padding: 20px;
  border-radius: 15px;
  visibility: hidden;
}

/*input field aspect*/
input[type="text"] {
  font-size: 16px;
  padding: 18px;
  font-weight: bold;
  border: 1px solid #f2f2f2;
}

/*
disposition for type filtring using
flex in row with wrap property and align of secondary
direction to center
*/
#filtres,
#filtres ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
/* disposition of items of the list 
including an icon + a text*/
#filtres li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #deebff;
  border-radius: 40px;
  margin: 12px;
}

/* tuning of position for span division that 
is usied to build icons with background */
#filtres span {
  padding: 0px;
  margin: -1px 0px -1px -10px;
}

/* tuning of the marging 
of the text of each type choices 
adding a rigth marging
*/
#filtres h3 {
  padding: 0px;
  margin: 0px 10px 0px 0px;
}

/* the info filtering is composed of:
an icon + a text , so disposition using flex
to dispose in row and align center*/

#filtreinfos {
  display: flex;
  align-items: center;
}

/*TO DECIDE IF NECESSARY*/
/* h3,
h2,
#logochart {
  padding: 0px;
  margin: 0px;
} */

/* 
background color of the 
filter icons
*/
.icon-background {
  color: #deebff;
}
/* 
 colors of the 
input button
*/
.fa-search {
  color: white;
  background-color: #0065fc;
}

/*
  the hebergement section is composed of 
  2 areas: town results and popular results
  so flex disposition in row 
  and margin top and bottom
 */
#hebergements {
  display: flex;
  justify-content: flex-start;
  /* margin: 30px 0px 30px 0px; */
}

/* 
contains titrehebergements listehebergements afficherplus 
disposion in column, the blocs have been weighted to 2 for 
town selection , and 1 for popular 
a margin of 20px to separate 
town selection block from popular block
*/
#hebergementsville {
  flex: 2.1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f2f2f2;
  margin-right: 20px;
  border-radius: 20px;
}

/* 
contains  a title + a list  of popular selection 
disposion in column, the blocs have been weighted to 2 for 
town selection , and 1 for popular 
a margin of 20px to separate 
town selection block from popular block
*/
#populaires {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2f2f2;
  margin-left: 20px;
  border-radius: 20px;
}

/* the info filtering is composed of:
a text   an icon , so disposition using flex
to dispose in row and align center
add a margin top and bottom to respect 
model
*/
#titrepopulaire {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

/*
disposition using flex and wrap 
add a margin left and right to respect 
model
*/
#listehebergements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* min-height: 420px;  TODO:  DECIDE IF TO REMOVE */
  margin: 0px 20px 0px 20px;
}

/*margins for title and */
#afficherplus,
#titrehebergements {
  margin: 20px 40px 20px 40px;
}

/* reove decoration of button "afficherlus"*/
#afficherplus a {
  text-decoration: none;
}

/*
Composition of each town selection items
photo + legend disposed in column
with fixed dimensions
aspect customization (border , shadown, background)
margin for interspace beetween each items
*/
.helement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 200px;
  text-align: center;
  border: 5px solid white;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  margin: 12px 12px 12px 12px;
}
/*element photo :
2 type of photo :portrait and landscape
hidden overflow to create a kind of viewport
min-width allow this viewport to grow in width
regarding other displays
flex param to weigth between photo and legend
radius to fit border design model
*/
.hphoto,
.hphotopor {
  overflow: hidden;
  position: relative;
  min-width: 240px;
  flex: 3;
  margin: auto;
  border-radius: 15px 15px 0px 0px;
}

/*
legend: padding to fit model
justify content and flex ratio with photo 
*/
.hlegende {
  padding: 10px 10px 10px 10px;
  text-align: left;
  flex: 1;
}

/*landscape picture customization
regarding viewport hphoto
*/
.hphoto img {
  width: 240px;
  position: absolute;
  top: -20px;
  right: 0px;
}
/* portrait picture customization
regarding viewport hphotopor*/
.hphotopor img {
  width: 240px;
  position: absolute;
  top: -120px;
  right: 0px;
}

/*légend inter line and font sizing*/
.hlegende div,
.lpnote {
  padding: 5px 0px 0px 0px;
  font-size: 0.8em;
}

/* adjustement of particular photo from viewport*/
.helement:nth-child(4) img {
  top: -50px;
}

/*titles for items : 
remove padding and margin*/
h4 {
  padding: 0px;
  margin: auto;
}

/* popular list:
disposition using flex in column
fix a min-height to give room to blocks
align items to center
*/
#listepopulaires {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
}

/*popular element:
dispostion using flex, fixed size, 
and aspect params
*/
.lpelement {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 332px;
  height: 135px;
  border: 5px solid white;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  margin: 0px 20px 0px 20px;
}

/*popular photos viewports:
use relative position to allow position of photo in 
the viewport . Fixed height and width of the viewport
ratio with legend and aspect

*/
.lpphoto,
.lpphotopor {
  position: relative;
  overflow: hidden;
  height: 135px;
  width: 130px;
  flex: 1;
  border-radius: 15px 0px 0px 15px;
}

/*  picture customization
regarding viewport lpphoto*/
.lpphoto img {
  width: 220px;
  position: absolute;
  top: 0px;
  right: -50px;
}
/* portrait picture customization
regarding viewport lpphotopor*/
.lpphotopor img {
  height: 200px;
  position: absolute;
  top: -30px;
  right: 0px;
}

/*
disposition flex: column 
padding left and text alignto fit model
flex ratio ajusted to fit the model
*/
.lplegende {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 20px 0px 20px;
  text-align: left;
  flex: 1.5;
}

/* customize subtitle 
for popular items*/
.lplegende p {
  font-size: 0.8em;
  line-height: 1em;
}

/*respect grey color for rating*/
.icon-color-less {
  color: #f2f2f2;
}
/*POPULAIRES END*/

/* ACTIVITES BEGIN */

/* Title for activity:
disposition to fit model*/
#titreactivites {
  margin: 50px 0px 25px 0px;
}

/*use flex to decompose in 2 blocks
the flex direction is row 
the 2 blocks will wrap when reduced
screen width 
*/
#listeactivites {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0px 0px 25px 0px;
}

/* inside block , use flex 
to decompose two div: one for portrait picture
other for landscape */
.actblock {
  display: flex;
  justify-content: space-around;
  margin: 0px 0px 0px 0px;
}

/*limit layout of portrait element
to fit model , add left margin*/
/* inside landscape element , use flex 
to set the 2 pictures in column
add a margin for spacing between portrait
pictures and landscape pictures
 */
.aporelement {
  margin: 0px 20px 0px 0px;
  height: 430px;
}
.apayelement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 30px 0px 15px;
}

/* inside each items of activities
manage the disposition for picture and legend 
using flex 
manage aspect (shadow, border) */
.aporelement,
.apayelement div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 5px solid white;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

/* viewports  for picture:
needed to fit the carious picture 
portrait or landscape 
the picture will be overflow outside the viewports*/
.aporelement .aphoto {
  overflow: hidden;
  position: relative;
  margin: 0px;
  width: 300px;
  height: 440px;
  border-radius: 20px 20px 0px 0px;
}
.apayelement .aphoto {
  overflow: hidden;
  position: relative;
  margin: 0px;
  width: 300px;
  border-radius: 20px 20px 0px 0px;
}

/* adapt picture to viewport for picture*/
.aporelement .aphoto img {
  height: 440px;
  position: absolute;
  top: 0px;
  right: -180px;
}

/*position of the legend in activity item*/
#listeactivites h4 {
  margin: 10px 20px 10px 20px;
}

/* layout of activity pictures to bring diversity in height*/
.actblock:nth-child(1) .apayelement div:nth-child(1) .aphoto {
  height: 180px;
}
.actblock:nth-child(1) .apayelement div:nth-child(2) .aphoto {
  height: 120px;
}
.actblock:nth-child(2) .apayelement div:nth-child(1) .aphoto {
  height: 150px;
}
.actblock:nth-child(2) .apayelement div:nth-child(2) .aphoto {
  height: 150px;
}

/* adapt lansscape picture in viewports*/
.apayelement .aphoto img {
  width: 300px;
  position: absolute;
}
.actblock:nth-child(1) .apayelement div:nth-child(1) .aphoto img {
  top: -100px;
}

#listeactivites a {
  text-decoration: none;
}

/*Color for icons*/
i,
#inscription {
  color: #0065fc;
}
.icon-background2 {
  color: #f2f2f2;
}
#greystar .fa-star {
  color: black;
}

/*END MAIN*/

/* BEGIN FOOTER */
/* 
use flex to the footer layout
including background color
and margin management
*/
footer {
  /* border: 1px solid black; */
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
}
footer div {
  margin: 50px 200px 50px 50px;
}
footer a {
  text-decoration: none;
}

/* END FOOTER*/

/* RECURSIVE PARAMS BEGIN */

/* mobiles breakpoint : 500px */
@media all and (max-width: 700px) {
  /* BEGIN BODY mobiles*/
  /* 
  redraw the page 
  regarding width and margin:
  no more margins
  */
  #entirepage {
    width: auto;
    margin: 0px;
  }
  /* END BODY mobiles*/

  /* BEGIN HEADER mobiles*/
  /*
  header(menu): 
  wrap properties in order to allow flex 
  to set element next line of primary direction*/
  .menu {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  /*
   logo and inscription: order must allow nav to go 
   under logo and inscription field
   slight change in padding to fit model
  */
  .logo,
  .inscription {
    order: -1;
  }
  .inscription {
    padding-right: 20px;
    min-width: 240px;
    text-align: right;
  }

  /*
  navigation list:
  add padding to fit model grid
  the list is justified around when 
  mobile model 
  */
  .nav ul {
    padding: 20px 0px 20px 0px;
    justify-content: space-around;
  }

  /* navigation :
   the border is now at the bottom
   and no more at the top
  */
  .nav a:hover {
    border-bottom: 3px solid #0065fc;
    border-top: none;
  }
  /*END HEADER mobiles*/

  /* BEGIN MAIN mobiles*/

  /* input block adaptation:
  hide and rend visible depending
  mobile model
  */
  #choixville #labelfield {
    order: 1;
    visibility: hidden;
  }
  #choixville {
    position: relative;
    width: 350px;
  }
  #choixville .fa-search {
    visibility: visible;
    position: absolute;
    top: 2px;
    right: 20px;
  }

  /* add top and bottom margins
  to filter section
  to fit model */
  #filtrage {
    margin: 0px 20px 40px 30px;
  }
  #filtres {
    margin: 40px 0px 20px 0px;
  }

  /* adjust  aspect of lists to fit 
  model*/
  #hebergementsville,
  #populaires {
    border-radius: 0px;
  }
  #hebergementsville {
    background-color: white;
  }

  /* adapt min-width  of viewport
  for photos to model for mobiles */
  .helement {
    min-width: 320px;
  }
  .hphoto,
  .hphotopor {
    min-width: 320px;
  }

  /* adapt absolute position regarding new viewport
  for mobiles*/
  .hphoto img {
    width: 350px;
    position: absolute;
    top: -50px;
    right: -10px;
  }
  .hphotopor img {
    width: 350px;
    position: absolute;
    top: -200px;
    right: 0px;
  }

  /* adapt particular cases 
  centering for pictures*/
  .helement:nth-child(5) img {
    top: -50px;
  }
  .helement:nth-child(4) img {
    top: -100px;
  }
  /* Title for activity:
   disposition to fit model*/
  #titreactivites {
    margin: 0px 0px 0px 20px;
  }
  /* change direction for the 2 blocks 
  of first level*/
  #listeactivites {
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }
  .apayelement div:nth-child(1) {
    margin-bottom: 40px;
  }
  /* change flex direction for mobile
  model and adapt margin between 
  blocks
  */
  .actblock {
    flex-direction: column;
    align-items: center;
  }
  .aporelement {
    margin: 20px 0px 40px 0px;
    height: 180px;
  }
  .apayelement {
    margin: 0px 0px 0px 0px;
  }
  /*unify height of activities pictures for mobile model
  due to adaptation to the web large display pagination
  thsi cannot be factorized*/
  .actblock:nth-child(1) .apayelement div:nth-child(1) .aphoto {
    height: 140px;
  }
  .actblock:nth-child(1) .apayelement div:nth-child(2) .aphoto {
    height: 140px;
  }
  .actblock:nth-child(2) .apayelement div:nth-child(1) .aphoto {
    height: 140px;
  }
  .actblock:nth-child(2) .apayelement div:nth-child(2) .aphoto {
    height: 140px;
  }

  /* adapt picture to new viewport for lanscape pictures*/
  .actblock:nth-child(1) .apayelement div:nth-child(1) .aphoto img {
    position: absolute;
    top: -130px;
  }

  /* adapt picture to new viewport for portrait pictures
  to landscape viewport*/
  .aporelement .aphoto img {
    width: 340px;
    height: 200px;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  /* END MAIN mobiles*/

  /* 
  change direction 
  and adapt marging 
  */
  footer {
    flex-direction: column;
    /* align-items: baseline; */
  }
  footer .foot {
    margin: 30px 0px 0px 50px;
  }
}

/* Tablet and Ipad breakpoint */
@media all and (max-width: 1024px) {
  /* BEGIN BODY tablets*/
  /* entire body:
  auto the width and 
  */
  #entirepage {
    width: auto;
    margin: auto;
  }
  /* END BODY tablets*/

  /* BEGIN HEADER tablets*/
  /* END HEADER tablets*/

  /* BEGIN MAIN tablets*/
  /*reverse the flex direction to 
  column reverse to put popular ahaed*/
  #hebergements {
    flex-direction: column-reverse;
  }

  /* adjust margin when popular 
  and town selection  are placed in 
  column  */
  #hebergementsville,
  #populaires {
    margin: 20px 0px 0px 0px;
  }
  #listepopulaires {
    margin-bottom: 20px;
  }
  /* END MAIN tablets*/

  /*remove margin for footer*/
  footer div {
    margin: auto;
  }
}
@media all and (max-width: 1370px) {
  /*adapt flex dispostion
  */
  #listeactivites {
    justify-content: center;
    flex-wrap: wrap;
  }

  /*change justify of content 
  add a margin between the 2 blocks*/
  .actblock {
    justify-content: flex-start;
    margin: 0px 0px 20px 0px;
  }
}
