/* GENERAL DEFINITIONS BEGIN */
/*
definition of Releway Font:
used kit generation of font squirrel site
*/
@font-face {
  font-family: "RalewayRegular";
  src: url("fonts/raleway.eot");
  src: url("fonts/raleway.woff") format("woff"),
    url("fonts/Raleway-VariableFont_wght.ttf") format("truetype"),
    url("fonts/raleway.svg#Raleway") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* 
properties of body : 
font and backgound color to white
definition of max-width for large screens*/
body {
  font-family: "RalewayRegular", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #ffffff;
  max-width: 1440px;
}

/* 
entire page:  
Left and right margin to fit the model
*/
#entirepage {
  margin-left: 50px;
  margin-right: 50px;
}
/* h2,
h3 {
  font-weight: bold;
} */

/*GENRAL DEFINITIONS END*/

/* HEADER BEGIN */
/* 
header params : what so called menu is in fact 
the entire content of the header: 
logo + nav menu + incription nav
placement of elements : flex aligned for 
primary direction to space-betwwen
implicit declaration of flow-direction to row
secondary direction to center
*/
.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

/*
header(menu) elements weight in flex units
1 basis unit for logo 
 */
.logo {
  flex: 1;
}
/* 
inscription nav:
align text to the rigth
use specifieied color
flex unit width to 1
*/
.inscription {
  /* text-align: right; */
  color: #0065fc;
  flex: 1;
}

/*navigation menu area
flex width unit to 10 for large screens*/
.nav {
  flex: 10;
}

/*
use of flex for menu pagination
cancel style
content goes to the flex end of box
no margin to insure border effect on top of page
padding top and bottom of 50px as the specification  
*/
.nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0px;
  padding: 50px 0px 50px 0px;
}

/*
add margin to fit specification regarding 
grid spacing beetween navigation elements
*/
.nav li {
  margin-right: 25px;
}

/*
navigation: 
remove decoration
padding for good placement of border
indicating the mouse hover
*/
.nav a {
  text-decoration: none;
  padding: 47px 20px 0px 20px;
}

/*
color for hover action
add a top border when hover
*/
.nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

/* HEADER END */

/* MAIN BEGIN */
#filtrage {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

#choixville {
  display: flex;
  align-items: center;
  margin: 0px 0px 30px 0px;
}
#choixville #inputville {
  font-family: "RalewayRegular", sans-serif;
  margin: 0px;
}
#choixville #iconchoix {
  padding: 18px 25px 18px 20px;
  background-color: #f2f2f2;
  border-radius: 20px 0px 0px 20px;
  margin: 0px;
}
#choixville #labelfield {
  padding: 14px;
  font-size: 20px;
  font-weight: bolder;
  background-color: #0065fc;
  border-radius: 0px 20px 20px 0px;
  color: white;
  margin: 0px;
}
#choixville .fa {
  padding: 18px;
  border-radius: 15px;
  visibility: hidden;
}

input[type="text"] {
  font-size: 16px;
  padding: 16px;
  font-weight: bold;
  border: 1px solid #f2f2f2;
}
#filtres {
  margin: 0px 0px 30px 0px;
}
#filtres,
#filtres ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
#filtres li {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #deebff;
  border-radius: 40px;
  margin: 12px;
}
#filtres span {
  padding: 0px;
  margin: -1px 0px -1px -10px;
}
#filtres h3 {
  padding: 0px;
  margin: 0px 10px 0px 0px;
}

#filtreinfos {
  display: flex;

  align-items: center;
}
h3,
h2,
#logochart {
  padding: 0px;
  margin: 0px;
}

.icon-background {
  color: #deebff;
}
.fa-search {
  color: white;
  background-color: #0065fc;
}

/* hebergements  params */
#hebergements {
  display: flex;
  margin: 30px 0px 30px 0px;
}

/* contient titrehebergements listehebergements afficherplus */
#hebergementsville {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f2f2f2;
  margin-right: 20px;
  border-radius: 20px;
}

#populaires {
  flex: 1;
  background-color: #f2f2f2;
  margin-left: 20px;
  border-radius: 20px;
}
#titrepopulaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 40px 25px 35px;
}

#listehebergements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 420px;
  margin: 0px 20px 0px 20px;
}
#afficherplus {
  margin: 35px 40px 40px 40px;
}
#titrehebergements {
  margin: 40px 40px 25px 40px;
}
.helement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 200px;
  text-align: center;
  border: 5px solid white;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 12px 12px 12px 12px;
}
.hphoto,
.hphotopor {
  overflow: hidden;
  position: relative;
  width: 240px;
  height: 120px;
  margin: 0px;
  border-radius: 25px 25px 0px 0px;
}
.hphoto img {
  width: 240px;
  position: absolute;
  top: -20px;
  right: 0px;
}
.hphotopor img {
  width: 240px;
  position: absolute;
  top: -120px;
  right: 0px;
}
.helement:nth-child(5) img {
  top: 0px;
}
.helement:nth-child(4) img {
  top: -50px;
}
#listepopulaires {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  margin: 0px 40px 40px 40px;
}
.lpelement {
  display: flex;
  justify-content: left;
  text-align: center;
  width: 345px;
  height: 140px;
  border: 5px solid white;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.lpphoto,
.lpphotopor {
  position: relative;
  overflow: hidden;
  height: 140px;
  width: 130px;
  margin: 0px;
  border-radius: 25px 0px 0px 25px;
}

.lpphoto img {
  width: 220px;
  position: absolute;
  top: 0px;
  right: -50px;
}
.lpphotopor img {
  height: 200px;
  position: absolute;
  top: -30px;
  right: 0px;
}

/* ACTIVITES BEGIN */
#titreactivites {
  margin: 25px 0px 25px 0px;
}
#listeactivites {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 40px 0px;
}

.actblock {
  display: flex;
  justify-content: space-between;
}

.apayelement {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.aporelement,
.apayelement div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  border: 5px solid white;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

/* this is the viewport for img*/
.aporelement .aphoto {
  overflow: hidden;
  position: relative;
  margin: 0px;
  width: 300px;
  height: 440px;
  border-radius: 25px 25px 0px 0px;
}
.apayelement .aphoto {
  overflow: hidden;
  position: relative;
  margin: 0px;
  width: 300px;
  border-radius: 25px 25px 0px 0px;
}
.aporelement .aphoto img {
  height: 440px;
  position: absolute;
  top: 0px;
  right: -180px;
}

.actblock:nth-child(1) .aporelement {
  margin: 0px 40px 0px 0px;
  height: 440px;
}
.actblock:nth-child(2) .aporelement {
  margin: 0px 40px 0px 40px;
  height: 440px;
}
.apayelement div:nth-child(1) {
  margin-bottom: 40px;
}

#listeactivites h4 {
  margin: 10px 20px 10px 20px;
}
.actblock:nth-child(1) .apayelement div:nth-child(1) .aphoto {
  height: 180px;
}
.actblock:nth-child(1) .apayelement div:nth-child(2) .aphoto {
  height: 120px;
}
.actblock:nth-child(2) .apayelement div:nth-child(1) .aphoto {
  height: 140px;
}
.actblock:nth-child(2) .apayelement div:nth-child(2) .aphoto {
  height: 150px;
}
.apayelement .aphoto img {
  width: 300px;
  position: absolute;
}
.actblock:nth-child(1) .apayelement div:nth-child(1) .aphoto img {
  top: -100px;
}

#listeactivites a {
  text-decoration: none;
}

/* .lpphoto {
  border: 1px solid black;
} */

/* .lplegende {
  border: 1px solid black;
} */
.hlegende {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  background-color: rgba(255, 255, 255, 1);
  padding-left: 10px;
  position: absolute;
  width: 95%;
  bottom: -15px;
}
/* #afficherplus {
  padding-top: 50px;
} */
.hlegende p,
h4,
#lpnote {
  line-height: 1.5em;
  padding: 0px;
  margin: 0px;
}
i,
#inscription {
  color: #0065fc;
}
#lpnote .grey {
  color: darkgrey;
}
.icon-background2 {
  color: #f2f2f2;
}
#greystar .fa-star {
  color: black;
}

/*END MAIN*/

/* BEGIN FOOTER */
footer {
  /* border: 1px solid black; */
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
}
footer div {
  margin: 50px 200px 50px 50px;
}
footer a {
  text-decoration: none;
}

/* END FOOTER*/

/* RECURSIVE PARAMS BEGIN */

/* mobiles breakpoint : 500px */
@media all and (max-width: 700px) {
  /* BEGIN BODY mobiles*/
  /* 
  redraw the page 
  regarding width and margin:
  no more margins
  */
  #entirepage {
    width: auto;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  /* END BODY mobiles*/

  /* BEGIN HEADER mobiles*/
  /*
  header(menu): 
  wrap properties in order to allow flex 
  to set element next line of primary direction*/
  .menu {
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: flex-end;
  }

  /*
   logo and inscription: order must allow nav to go 
   under logo and inscription field
   slight change in padding to fit model
  */
  .logo,
  .inscription {
    order: -1;
    padding-left: 10px;
    border: 1px solid black;
  }
  .inscription {
    padding-left: 150px;
    text-align: right;
  }

  /*
  navigation list:
  add padding to fit model grid
  the list is justified left when 
  mobile pagination
  let placement in auto ? 
  (to be tested in option) 
  */
  .nav ul {
    padding: 20px 0px 20px 0px;
    justify-content: left;
    /* margin: auto;
    width: auto; */
  }

  /* navigation: 
   specific padding to fit specified spacing
   when mobile grid
  */
  .nav a {
    padding: 0px 35px 10px 35px;
  }

  /* navigation :
   the border is now at the bottom
   and no more at the top
  */
  .nav a:hover {
    border-bottom: 3px solid #0065fc;
    border-top: none;
  }
  /*END HEADER mobiles*/

  /* BEGIN MAIN mobiles*/
  #choixville #labelfield {
    visibility: hidden;
  }
  #choixville {
    position: relative;
  }
  #choixville .fa-search {
    visibility: visible;
    position: absolute;
    top: 2px;
    left: 250px;
  }
  #listehebergements {
    justify-content: space-around;
    flex-direction: column;
  }
  #listeactivites {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .actblock {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .aporelement {
    min-height: 200px;
    width: 300px;
    background-color: lightblue;
    margin: 50px 0px 0px 0px;
  }
  .actblock:nth-child(1) .aporelement {
    margin: 50px 0px 0px 0px;
  }
  .actblock:nth-child(2) .aporelement {
    margin: auto;
  }

  .apayelement div {
    min-height: 200px;
    margin: 50px 0px 0px 0px;
  }

  .apayelement {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  /* END MAIN mobiles*/
  footer {
    border: 1px solid black;
    flex-direction: column;
    align-items: baseline;
    margin: 0px;
  }
  footer .foot {
    margin: 40px 0px 0px 50px;
  }
}

/* Tablet and Ipad breakpoint */
@media all and (max-width: 1200px) {
  /* BEGIN BODY tablets*/
  /* entire body:
  auto the width and 
  */
  #entirepage {
    width: auto;
    margin: auto;
  }
  /* END BODY tablets*/

  /* BEGIN HEADER tablets*/
  /* END HEADER tablets*/

  /* BEGIN MAIN tablets*/
  #hebergements {
    flex-direction: column-reverse;
  }
  #hebergementsville,
  #populaires {
    margin: 0px;
    flex: 1;
  }
  #titrepopulaire {
    margin: 40px 20px 25px 20px;
  }
  #listehebergements {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
  }
  #listepopulaires {
    border: 1px solid red;
    align-items: center;
  }
  .lpelement {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 400px;
    height: 150px;
  }

  /* ACTIVITES BEGIN */

  #listeactivites {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    /* margin: auto;   */
  }

  .actblock {
    justify-content: flex-start;
    margin: 50px 0px 0px 0px;
  }

  .actblock:nth-child(1) .aporelement {
    margin: 0px 50px 0px 0px;
  }
  .actblock:nth-child(2) .aporelement {
    margin: 0px 50px 0px 0px;
  }

  .apayelement:nth-child(2) {
    min-height: 160px;
  }
  .apayelement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 800px;
    width: 300px;
  }
  #listeactivites a {
    text-decoration: none;
  }
  /* END MAIN tablets*/
  footer div {
    margin: auto;
  }
}
